<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>

    function logic( ){
        let x = document.getElementById("text").value;
        let z = parseInt(document.getElementById("desplazamiento").value);
        let y = x.charCodeAt(0) - 65
        let clave = [];
                
       document.getElementById("message-p1").innerHTML = y
       
       
       let mensaje = x.split("");

       mensaje.map(letra =>{
            console.log(letra)
            let codigo = letra.charCodeAt(0) - 65 + z
            clave.push(codigo)
            console.log(codigo)

       }
       )
        

       
       var res = clave.join();
       let mensajeCifrado = String.fromCharCode(res) 
       document.getElementById("message-p2").innerHTML = res
       //final = clave.split("");
       console.log(mensajeCifrado)
       console.log(res)
       
        return console.log(clave)

}


</script>
<body>
 
    
        <input type=text id="text" name="message" placeholder="mensaje">
        <input type=text id="desplazamiento" name="message" placeholder="desplazamiento">
        <button onClick="logic()" > Ver Mensaje </button>
    

    <p id="message-p1">  </p>
    <p id="message-p2">  </p>
    
</body>
</html>